@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*:root {*/
    /* Fundo do Card - Modo Claro (Padrão) */
    /*--card-bg-inner: #ffffff;*/ /* Branco puro no foco */
    /*--card-bg-outer: #f2f2f7;*/ /* Cinza "iOS" bem suave nas bordas */
    /* Textos e Elementos */
    /*--text-main: #1c1c1e;*/ /* Quase preto para leitura perfeita */
    /*--text-secondary: rgba(0, 0, 0, 0.6);
    --glass-border: rgba(0, 0, 0, 0.08);*/ /* Borda sutil escura */
    /*--shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
    --card-bg-inner: #1a1a1a;
    --card-bg-outer: #050505;
    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.7);
    --glass-border: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.5);
}*/



.details-page-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    width: 100vw;
    top: 80px;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    z-index: 1000;
}
 /*Card Principal*/
.details-card {
    width: 95%;
    max-width: 1500px; /* Ou o tamanho máximo que você definiu */
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    background: radial-gradient(circle at top left, #1a1a1a, #050505);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

/*Identidade */
.details-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.identity-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

/* BLOCO NOME E IMAGE */
.identity-content {
    margin-top: 75px; /* Ajuste este valor para descer mais ou menos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- ID -- */
.pokemon-id-bg {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Michroma', sans-serif;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -5px;
    color: rgba(255, 255, 255, 0.07);
    pointer-events: none;
    z-index: 0;
    line-height: 1;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.12)20%, rgba(255, 255, 255, 0)90% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/*-- IMG --*/
.pokemon-image {
    width: 230px;
    height: 230px;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    filter: drop-shadow(0 3px 9px rgba(0,0,0,0.4));
    transition: transform 1s cubic-bezier(0.1, 0.2, 0.1, 0.1);
    margin-bottom: 25px;
}
    .pokemon-image.legacy-pixel {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        transform: scale(2.8);
        margin: 40px 0;
        filter: drop-shadow(5px 5px 0 rgba(0,0,0,,0.2));
    }

/*-- NOME POKE --*/
.name-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.name-row h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 2;
}
.cry-button {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    padding: 0;
    line-height: 1;
}
    .cry-button:hover {
        background: #ffcb05;
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(255, 203, 5, 0.5);
    }
    .cry-button:active {
        transform: scale(0.9);
    }

/*-- Botão Shiny e Legacy --*/
.buttons-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}
.toggle-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px 15px;
    border-radius: 20px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}
    .toggle-btn:hover {
        background: rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
    }
    .toggle-btn.active {
        background: #ffcb05;
        color: #1a1a1a;
        border-color: #ffcb05;
        box-shadow: 0 0 15px rgba(255, 203, 5, 0.4);
    }



/*-- Altura e Peso --*/
.dimensions-row {
    margin-top: 25px; 
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding: 0; 
    background: transparent; 
    backdrop-filter: none; 
}
.dimension-item {
    display: flex;
    flex-direction: row; /* Mudado para linha para ocupar menos espaço vertical */
    align-items: baseline;
    gap: 8px; /* Espaço entre a palavra 'Altura' e o valor '1.0m' */
    opacity: 0.8; /* Deixa o conjunto levemente mais discreto */
}
    .dimension-item .label {
        font-size: 0.65rem; /* Fonte ainda menor */
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.5); /* Cinza suave */
        font-family: 'Rajdhani', sans-serif;
    }
    .dimension-item .value {
        font-size: 1.1rem; /* Valor menor para não gritar no layout */
        font-weight: 700;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
    }

/*-- TIPOS -- */
.types-section h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.40rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 9px;
    text-align: center;
}
.types-row{
    display: flex;
    justify-content: center;
    gap: 13px;
    margin: 13px 0;
    z-index: 2;
}
.main-type-badge {
    padding: 8px 25px;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
    .main-type-badge:hover {
        transform: translateY(-3px) scale(1.05);
        filter: brightness(1.1);
    }

/*---- FRAQUEZAS ----*/
.weakness-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
    .weakness-section h4 {
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.20rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 15px;
        text-align: center;
    }

.weakness-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 300px;
}
weakness-grid .type-badge {
    padding: 6px 14px;
    border-radius: 8px;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    border: none; 
}
.weakness-badge-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 6px;
    padding: 6px 10px;
    border-radius: 8px;
    width: 100%;
    min-width: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}
    .weakness-badge-wrapper:hover {
        transform: scale(1.05);
    }

.type-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.multiplier {
    font-size: 0.7rem;
    font-weight: 900;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    border-radius: 4px;
}

/* -- STATUS -- */
.stats-evolution-column { /*CONTAINER STATUS E EVOLUÇÕES*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
    padding: 25px;
    border-radius: 20px;
}
.evolution-section,
.stats-container-wrapper {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: transform 0.3s ease, border 0.3s ease;

    text-align: center;
}
    .evolution-section:hover,
    .stats-container-wrapper:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
    }
.evolution-display-horizontal {
    background: transparent;
    padding: 10px 0;
}
    .stats-container-wrapper h3 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid #ffcb05;
        display: inline-block; 
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

/*-- barra de status --*/
.stat-item {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.stat-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
}
.stat-bar-container {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
}
.stat-bar-fill {
    height: 100%;
    border-radius: 6px;
    width: 0;
    animation: fillBar 0.8s cubic-bezier(0.1, 0.5, 0.2, 1) forwards;
    position: relative;
}
.stat-bar-fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, transparent, rgba(255, 255, 255, 0.2), transparent );
    animation: shine-bar 3s infinite;
}
@keyframes shine-bar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(255%);
    }
}
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: var(--target-width);
    }
}

/* Evoluções */
.evolution-section {
    text-align: center;
    margin-bottom: 10px;
}
    .evolution-section h3 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid #ffcb05;
        display: inline-block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

.evolution-display-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 25px 15px;
}



.evo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    min-width: 80px;
}
    .evo-item:hover {
        transform: translateY(-5px);
    }

    .evo-item img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        image-rendering: pixelated;
        transition: transform 0.3s ease;
    }
    .evo-item span {
        font-family: 'Rajdhani', sans-serif;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 8px;
    }

.evo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.evo-arrow {
    font-size: 1.5rem;
    color: #ffcb05; /* Seta amarela para combinar com o tema Pokémon */
    opacity: 0.8;
    margin: 0 5px;  
}