@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*Tema Padrão Branco*/
:root {
    /* Cor para o modo CLARO */
    /* Cores de Texto */
    --text-primary: #ffffff;
    --text-secondary: #555555;
    /* Configuração do Vidro (Modo Claro Padrão) */
    --card-bg-wrapper: radial-gradient(circle at top left, rgb(251, 246, 246, 0.2),gba(255, 255, 255, 0.1));
    --card-bg-glass: radial-gradient(circle at top left, rgb(170, 205, 220, 0.4), rgb(122, 170, 206, 1));
    --card-border: rgb(53, 88, 114, 0.6);
    --card-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7);
    /* Botões */
    --btn-bg: rgba(0, 0, 0, 0.1);
    --btn-border: rgb(122, 170, 206, 0.1);
    --btn-text: #F7F8F0;
    --btn-hover: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
    /* Cor para o modo ESCURO */
    /* Cores de Texto */
    --text-primary: #ffffff;
    --text-secondary: #b0b0b0;
    /* Vidro no Modo Escuro (Mais fechado e profundo) */
    --card-bg-glass: radial-gradient(circle at top left, rgba(26, 26, 26, 0.2), rgba(5, 5, 5, 1));
    --card-border: rgba(255, 255, 255, 0.1);
    --card-shadow: 0 25px 50px -12px rgba(0, 0, 0, 1);
    --card-bg-wrapper: rgb(99, 89, 133);
    /*Botoes*/
    --btn-bg: rgba(255, 255, 255, 0.1);
    --btn-border: rgba(255, 255, 255, 0.1);
    --btn-text: #ffffff;
    --btn-hover: rgba(0, 0, 0, 0.1);
}

.details-page-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    background: var(--card-bg-wrapper);
    width: 100vw;
    top: 80px;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000;
}
 /*Card Principal*/
.details-card {
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    overflow: hidden;
    /* Ativando o vidro */
    backdrop-filter: blur(25px) saturate(150%);
    transition: all 0.5s ease;
    /* A MÁGICA ACONTECE AQUI: Agora ele lê as variáveis de cima! */
    background: var(--card-bg-glass);
    border: 1px solid var(--card-border);
    box-shadow: var(--card-shadow);
}
/*Identidade */
.details-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.identity-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

/* BLOCO NOME E IMAGE */
.identity-content {
    margin-top: 75px; /* Ajuste este valor para descer mais ou menos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- ID -- */
.pokemon-id-bg {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Michroma', sans-serif;
    font-size: 8.7rem;
    font-weight: 900;
    letter-spacing: -6px;
    pointer-events: none;
    z-index: 0;
    line-height: 1;
    transition: all 0.5s ease;
    background-image: linear-gradient( to bottom, var(--poke-color) 0%, var(--poke-color) 60%, rgba(0, 0, 0, 0) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
    opacity: 0.3;
}
:root .pokemon-id-bg {
    opacity: 0.5;
    background-image: linear-gradient( to bottom, var(--poke-color) 0%, var(--poke-color) 70%, transparent 100% );
}

/*-- IMG --*/
.pokemon-image-container {
    width: 100%;
    height: 255px; /* Escolha uma altura que caiba a maior imagem + o scale */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible; /* Importante para o scale(2.8) não ser cortado */
}
.pokemon-image {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    filter: drop-shadow(0 4px 2px rgba(0,0,0,0.4));
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin: 0 auto;
    opacity: 1;
}
    .pokemon-image.loading {
        opacity: 0.7;
    }
    .pokemon-image.legacy-pixel {
        width: 150px;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        transform: scale(2.8);
        filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.1));
    }

/*-- NOME POKE --*/
.name-row {
    margin-top: -25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
    .name-row h1 {
        font-family: 'Michroma', sans-serif;
        font-size: 3.3rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        text-shadow: 0 4px 15px rgba(0,0,0,0.3);
        z-index: 2;
        color: white;
        opacity: 0.8;
    }
.cry-button {
    background: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    padding: 0;
    line-height: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 25px 0.1px rgba(0, 0, 0, 1);
    ;
}

    .cry-button:hover {
        background: #ffd803;
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(255, 203, 5, 0.5);
    }
    .cry-button:active {
        transform: scale(0.9);
    }

/*-- Botão Shiny e Legacy --*/
.buttons-container {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 100;
}
.toggle-btn {
    background: var(--btn-bg);
    border: 1px solid var(--btn-bg);
    padding: 6px 15px;
    border-radius: 20px;
    color: var(--btn-text);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}
    .toggle-btn:hover {
        background: var(--btn-hover);
        transform: translateY(-2px);
    }
    .toggle-btn.active {
        background: #ffd803;
        color: #1a1a1a;
        border-color: #ffd803;
        box-shadow: 0 4px 12px rgba(255, 203, 5, 0.3);
    }



/*-- Altura e Peso --*/
.dimensions-row {
    margin-top: 22px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
}
.dimension-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 7px; 
    opacity: 0.8;
}
    .dimension-item .span {
        color: var(--text-primary);
    }
    .dimension-item .label {
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.5);
        font-family: 'Michroma', sans-serif;
        color: var(--text-primary);
    }
    .dimension-item .value {
        font-size: 0.9rem;
        font-weight: 900;
        color: var(--text-primary);
        font-family: 'Michroma', sans-serif;
    }

/*-- TIPOS -- */
.types-section h4 {
    font-family: 'Michroma', sans-serif;
    font-size: 1.40rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 9px;
    text-align: center;
    color: var(--text-primary);
}
.types-row{
    display: flex;
    justify-content: center;
    gap: 13px;
    margin: 13px 0;
    z-index: 2;
}
.main-type-badge {
    padding: 8px 25px;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    font-family: 'Michroma', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
    .main-type-badge:hover {
        transform: translateY(-3px) scale(1.05);
        filter: brightness(1.1);
    }

/*---- FRAQUEZAS ----*/
.weakness-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
    .weakness-section h4 {
        font-family: 'Michroma', sans-serif;
        font-size: 1.20rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-align: center;
        color: var(--text-primary);
    }

.weakness-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.8px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
    .weakness-grid .type-badge {
        flex: 0 1 calc(33.33% - 12px);
        min-width: 95px; /* Garante que o texto Michroma caiba sem espremer */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        padding: 8px 4px;
        border-radius: 8px;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        font-size: 0.65rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        border: none;
        transition: transform 0.2s;
    }

.weakness-badge-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px; /* Espaço entre o ícone/multiplicador e o texto */
    padding: 5px 10px;
    border-radius: 8px;
    width: fit-content;
    min-width: 85px; /* Aumentei um pouco para não cortar nomes longos */
    transition: all 0.2s ease;
    cursor: pointer;
}

    .weakness-badge-wrapper span {
        font-family: 'Michroma', sans-serif;
        font-size: 0.86rem;
        font-weight: 700; /* 700 já é bem negrito e menos 'entupido' que o 800 */
        letter-spacing: 0.7px; /* Damos um pouco de espaço entre as letras */
        text-transform: uppercase;
        line-height: 1.2; /* Melhor ajuste para fontes largas */
        cursor: pointer;
        text-align: center;
        color: var(--text-primary);
}

    .weakness-badge-wrapper:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }

.type-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.multiplier {
    font-size: 0.7rem;
    font-weight: 900;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    border-radius: 4px;
}

/* -- STATUS -- */
.stats-evolution-column { /*CONTAINER STATUS E EVOLUÇÕES*/
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: stretch;
    padding: 20px;
    border-radius: 20px;
}
.evolution-section,
.stats-container-wrapper {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: transform 0.3s ease, border 0.3s ease;

    text-align: center;
}
    .evolution-section:hover,
    .stats-container-wrapper:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
    }
.evolution-display-horizontal {
    background: transparent;
    padding: 10px 0;
    filter: drop-shadow(0 2px 7px rgba(0,0,0,0.3));
}
.stats-container-wrapper h3 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid #ffcb05;
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-primary);
}

/*-- barra de status --*/
.stat-item {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.stat-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
    color: var(--text-primary);
}
.stat-bar-container {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
}
.stat-bar-fill {
    height: 100%;
    border-radius: 6px;
    width: 0;
    animation: fillBar 0.8s cubic-bezier(0.1, 0.5, 0.2, 1) forwards;
    position: relative;
}
.stat-bar-fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, transparent, rgba(255, 255, 255, 0.2), transparent );
    animation: shine-bar 3s infinite;
}
@keyframes shine-bar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(255%);
    }
}
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: var(--target-width);
    }
}

/* Evoluções */
.evolution-section {
    text-align: center;
    margin-bottom: 10px;
}
    .evolution-section h3 {
        text-align: center;
        font-family: 'Michroma', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid #ffcb05;
        display: inline-block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        color: var(--text-primary);
    }

.evolution-display-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 25px 15px;
}



.evo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    min-width: 80px;
    color: var(--text-primary);
}
    .evo-item:hover {
        transform: translateY(-5px);
    }

    .evo-item img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        image-rendering: pixelated;
        transition: transform 0.3s ease;
    }
    .evo-item span {
        font-family: 'Michroma', sans-serif;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 8px;
    }

.evo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.evo-arrow {
    font-size: 1.5rem;
    color: #ffcb05; /* Seta amarela para combinar com o tema Pokémon */
    opacity: 0.8;
    margin: 0 5px;  
}